@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table_th {
    @apply text-start font-reem-kufi text-base text-black  font-normal pb-[20px] border-b  border-dashed border-[#838383];
  }
  .table_td {
    @apply text-start font-reem-kufi text-base text-[#838383]  py-[20px] font-light  border-t  border-dashed border-[#838383];
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#626FC1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}